img{ 
    display: block;
    margin-right : 400px;
    position: fixed; top: 115px;
    margin-left : 15px;
}


 body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,114,114,1) 100%, rgba(0,212,255,1) 100%);    /* This sets the background color for the entire page */ 
 }

 h1 {                                   /* This declares what modifications need to be done to h1 */
     color: red;
     background-color : black;
     padding: 100px;
     width : 1705px;
     text-align: center;
     font-size: 50px;
     
     
 }

 h3 {
     color :yellow;
     background-color: black;
     padding: 15px 90px;
     width : 1710px;
     font-size: 25px;
     text-align: center;
     
 }

 p {                                    /* Just Changing the font-type here and Justifying alingment */
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 15px;
     text-align: justify;
     font-size: 20px;
     color : white
    


 }

 .button {
    background-color: #4CAF50;    /* Sets the background color for the button */
    border: none;
    color:black;
    padding: 20px 32px;             /* Just the padding */
    text-align: center;
    display: inline-block;
    font-size: 56px;               /* This sets the size of the box of the button */
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 800px;
 }


