/* This CSS FILE is only when User Solves Finshing the Last Question of 3rd Level */

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);    
}


h1 {
    text-align: center;
    color: chartreuse;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button{
    margin-top: 5px;
    margin-bottom: 15px;    
    background-color: green;
    padding-top: 5px;
    width: 150px; 
    cursor: pointer;
    margin-left: 1170px;
    margin-left: 700px;
    font-size: 20px;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.05s;
    cursor: pointer;
}

p{
    margin-left: 570px;
   color:black;
   font-size: 25px;
   margin-right: 500px;

}