body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(30,30,30,0.2) 0%, rgba(212,212,212,0.5) 100%, rgba(0,212,255,0.5) 100%);
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

pre{
    padding: 5px;
    margin-top: 5px;
    background-color: rgba(212,212,212,0.2);
    align-items: center;
    color:#1e1e1e;
}

h1{
    text-align: center;
    color: #1e1e1e;
}

h2{
    text-align: center;
    color: #1e1e1e;
    background-color: rgba(212,212,212,0.5);
}

h3{
    text-align: center;
    padding: 5px;
    color: rgba(212,212,212);
}

p {
    text-align: center;
    color:#1f1f1f;
    background: fixed;
    padding: 5px;
    font-size: 20px;
}

.main{

}

.cards{
    max-width: 400px;
    display: inline-block;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(30,30,30, 1);
    align-items: center;
}


.image img{
    max-width : 400px;
    max-width: 400px;
    padding: 0;
    border: 0;
}

.title{
    text-align: center;
    padding: 5px;
}

.des{
      text-align: center;
}

button{
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: #1e1e1e;
    padding-top: 5px;
    width: 100px;
    cursor: pointer;
    color: #d4d4d4;
}

button:hover{
    background-color: #d4d4d4;
    color: #1e1e1e;
    transition: 0.05s;
    cursor: pointer;
}