body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
    text-align: center;   
}

pre{
    padding: 20px;
    margin-top: 5px;
    background-color: orange;
    text-align: justify;
    color:black;
    font-size: 20px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p {
    text-align: center;
    background-color: black;
    color:white;
    padding: 10px;
    font-size: 20px;

}

.main{

}

.cards{
    width: 22%;
    display: inline-block;
    margin: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
}


.image img{
    width : 100%;
}

.title{
       text-align: center;
       padding: 5px;
}

.des{
      text-align: center;

}

button{
    margin-top: 5px;
    margin-bottom: 5px;    
    background-color: green;
    padding-top: 5px;
    width: 100px; 
    cursor: pointer;

}

button:hover{
    background-color: black;
    color: white;
    transition: 0.05s;
    cursor: pointer;
}